{% if size == "compact" %}
<div class="layout layout--stretch" id="fdp-root">
  <div class="grid grid--cols-4 gap--[12px]">
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center col--span-2 fdp-dayofweek fdp-text fdp-text--sm">{{ day_of_week }}</div>
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-number fdp-text--sm">{{ day_of_month }}</div>
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-month fdp-text fdp-text--sm">{{ month }}</div>
  </div>
</div>
{% else %}
<div class="layout layout--stretch" id="fdp-root">
  <div class="grid grid--cols-2 gap--[12px]">
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-number">{{ day_of_month }}</div>
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-month fdp-text">{{ month }}</div>
  </div>
</div>
{% endif %}

